<div class="h-64 bg-slate-400 flex flex-col items-center justify-center">
  <h1 class="text-6xl text-center">Welcome to the Sample App</h1>
  <h2 class="text-3xl text-center">
    This is the home page for the
    <a class="text-sky-600" href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>
  <%= link_to "Sign up now!", '#', class: "mt-6 h-[46px] w-[120px] text-white bg-sky-400 rounded flex items-center justify-center" %>
</div>
<%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200"),
"https://rubyonrails.org/" %>
