<header class="bg-neutral-900 h-24 flex items-center w-full">
  <div class="flex w-full justify-around">
    <%= link_to "sample app", root_path, class: "text-white", id: "logo" %>
    <nav class="flex items-center">
      <ul class="flex flex-row gap-10">
        <li><%= link_to "Home", root_path, class: "text-white" %></li>
        <li><%= link_to "Help", help_path, class: "text-white" %></li>
        <li><%= link_to "Log in", '#', class: "text-white" %></li>
      </ul>
    </nav>
  </div>
</header>
